ErrorDocument 400 https://www.stefans-k.infinityfreeapp.com/en/errors/400-bad-request.html
ErrorDocument 401 https://www.stefans-k.infinityfreeapp.com/en/errors/401-unauthorized.html
ErrorDocument 403 https://www.stefans-k.infinityfreeapp.com/en/errors/403-forbidden.html
ErrorDocument 404 https://www.stefans-k.infinityfreeapp.com/en/errors/404-not-found.html
ErrorDocument 500 https://www.stefans-k.infinityfreeapp.com/en/errors/500-internal-server-error.html
ErrorDocument 503 http://www.stefans-k.infinityfreeapp.com/en/errors/503-service-unavailable.html
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
Header always set X-Content-Type-Options "nosniff"
FileETag Size
<filesMatch \.(js|css|html|jpg|jpeg|png|gif|ico|svg|webp|avif)$>
    Header set Cache-Control "max-age=180, public"
</filesMatch>
Options +Includes
AddType text/html .html
AddOutputFilter INCLUDES .html
